$mobile-screen: 600px;
$tablet-screen: 900px;
$background-color: #f5f5f5;
$color-primary: #fd872d;
$gradient-color-a: #8a8eff;
$gradient-color-b: #8b00ff;
$opacity-l: 0.1;
$opacity-m: 0.3;
$opacity-b: 0.8;