@import 'variables';
$color-primary: #1a6bd6;




@mixin responsive-title($font-size) {
  font-size: $font-size;

  @media (max-width: $mobile-screen) {
    font-size: $font-size * 0.8;
  }

  @media (max-width: $tablet-screen) {
    font-size: $font-size * 0.9;
  }
}

.header {
  @include responsive-title(50px);
  text-align: center;
  color: $color-primary;
}

.body {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 100vh;
    background-color: #f5f5f5;
    width: 100%; /* Set a wider width, adjust as needed */
    margin: 10 auto; /* Center the body horizontally */

  }
